[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = git@github.com:geapi/sproutcore.git
[submodule "frameworks/scui"]
	path = frameworks/scui
	url = git@github.com:geapi/sproutcore-ui.git
[submodule "frameworks/sai"]
	path = frameworks/sai
	url = git@github.com:geapi/sai.git
