[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = git@github.com:geapi/sproutcore.git
[submodule "frameworks/scui"]
	path = frameworks/scui
	url = git@github.com:geapi/sproutcore-ui.git
[submodule "frameworks/ki"]
	path = frameworks/ki
	url = git@github.com:FrozenCanuck/Ki.git
