/* */

/* @group Button Core */

.linkit-theme .sc-button-view {
  text-decoration: none ;
  border: none ;
  padding: 0;
}

.linkit-theme .sc-button-view.icon img.icon {
  position: relative;
  vertical-align: middle;
  top: -2px;
  margin-right: 2px;
  height: 16px;
  width: 16px;
}

/* @end */

/* @group Square Style */

/* @group Core */

.linkit-theme .sc-button-view.sc-regular-size.square {
  text-shadow: #fff 0px 1px 0px;
  color: black ;
}

.linkit-theme .sc-button-view.sc-regular-size.square .sc-button-inner {
  display: block ;
}

.linkit-theme .sc-button-view.sc-regular-size.square .sc-button-label {
  display: block ;
  text-align: center;
  padding: 0px 0px 7px 0px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.active .sc-button-label {
  text-shadow:  black 0px -1px 0px;
  color: white;
}

.linkit-theme .sc-button-view.square.disabled .sc-button-label {
  color: #999;
  text-shadow: none;
}

.linkit-theme .sc-button-view.sc-regular-size.square.def .sc-button-label,
.linkit-theme .sc-button-view.sc-regular-size.square.sel .sc-button-label {
	color: white;
	text-shadow: #2a569e 0px -1px 0px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.def.disabled .sc-button-label,
.linkit-theme .sc-button-view.sc-regular-size.square.sel.disabled .sc-button-label {
	color: #ddd;
	text-shadow: none;
}

/* @end */

/* @group Regular Size */

/* @group basic */

.linkit-theme .sc-button-view.sc-regular-size.square {
  font-size: 12px;
  max-height: 24px;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -814px;
}

.linkit-theme .sc-button-view.sc-regular-size.square .sc-button-inner {
  height: 24px;
  max-height: 24px;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -789px;
}

.linkit-theme .sc-button-view.sc-regular-size.square .sc-button-label {
  height: 18px;
  line-height: 24px;
  margin-left: 11px;
  margin-right: 11px;
  background: static_url('images/sc-theme-repeat-x.png') repeat-x -15px -764px;
}

/* @end */

/* @group active */

.linkit-theme .sc-button-view.sc-regular-size.square.active {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -913px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.active .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -939px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.active .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x right -889px;
}

/* @end */

/* @group disabled */

.linkit-theme .sc-button-view.sc-regular-size.square.disabled {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -1064px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.disabled .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -1038px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.disabled .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1014px;
}

/* @end */

/* @group sel - def */

.linkit-theme .sc-button-view.sc-regular-size.square.def,
.linkit-theme .sc-button-view.sc-regular-size.square.sel {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -1190px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.def .sc-button-inner,
.linkit-theme .sc-button-view.sc-regular-size.square.sel .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -1164px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.def .sc-button-label,
.linkit-theme .sc-button-view.sc-regular-size.square.sel .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1140px;
}

/* @end */



/* @group sel - def -active */

.linkit-theme .sc-button-view.sc-regular-size.square.def.active,
.linkit-theme .sc-button-view.sc-regular-size.square.sel.active {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -1316px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.linkit-theme .sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -1290px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.linkit-theme .sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1266px;
}

/* @end */


/* @group sel - def -disabled */

.linkit-theme .sc-button-view.sc-regular-size.square.def.disabled,
.linkit-theme .sc-button-view.sc-regular-size.square.sel.disabled {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -1442px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.def.disabled .sc-button-inner,
.linkit-theme .sc-button-view.sc-regular-size.square.sel.disabled .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -1416px;
}

.linkit-theme .sc-button-view.sc-regular-size.square.def.disabled .sc-button-label,
.linkit-theme .sc-button-view.sc-regular-size.square.sel.disabled .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1392px;
}

/* @end */

/* @end */


/* @end */

/* @group Capsule */

/* @group basic */

.linkit-theme .sc-button-view.capsule {
	font-size:   12px;
	height:      24px;
	max-height:  24px;
	text-shadow: #fff 0px 1px 0px;
  	text-align:  center;
 	background:  transparent static_url('images/sc-theme-repeat-x.png') no-repeat right -224px;
  color: black ;
}

.linkit-theme .sc-button-view.capsule .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -197px;
  display: block ;
  height: 24px;
  max-height: 24px;
}

/* 170 - 250 - 490 */
.linkit-theme .sc-button-view.capsule .sc-button-label {
 	background: transparent static_url('images/sc-theme-repeat-x.png') repeat-x left -764px;
  display: block ;
  text-align: center;
  padding: 0px 0px 7px 0px;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;
  line-height: 24px;
  text-shadow: none;
}

/* @end */

/* @group sel - def : capsule */

.linkit-theme .sc-button-view.capsule.sel,
.linkit-theme .sc-button-view.capsule.def {
	background: transparent static_url('images/sc-theme-repeat-x.png') no-repeat scroll right -304px;
}

.linkit-theme .sc-button-view.capsule.sel .sc-button-inner,
.linkit-theme .sc-button-view.capsule.def .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -277px;
}

.linkit-theme .sc-button-view.capsule.sel .sc-button-label,
.linkit-theme .sc-button-view.capsule.def .sc-button-label {
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1140px;
	color: white;
	text-shadow: #2a569e 0px -1px 0px;
}

/* @end */

/* @group disabled */

.linkit-theme .sc-button-view.capsule.disabled {
	background: transparent static_url('images/sc-theme-repeat-x.png') no-repeat scroll right -544px;
}

.linkit-theme .sc-button-view.capsule.disabled .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -517px;
}

.linkit-theme .sc-button-view.capsule.disabled .sc-button-label {
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1014px;
	color: #999;
	text-shadow: none ;
}

/* @end */

/* @group sel.disabled - def.disabled*/

.linkit-theme .sc-button-view.capsule.sel.disabled,
.linkit-theme .sc-button-view.capsule.def.disabled {
	background: transparent static_url('images/sc-theme-repeat-x.png') no-repeat scroll right -544px;
}

.linkit-theme .sc-button-view.capsule.sel.disabled .sc-button-inner,
.linkit-theme .sc-button-view.capsule.def.disabled .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -517px;
}

.linkit-theme .sc-button-view.capsule.sel.disabled .sc-button-label,
.linkit-theme .sc-button-view.capsule.def.disabled .sc-button-label {
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1014px;
	color: #999;
	text-shadow: none ;
}

/* @end */

/* @group sel.active - def.active */

.linkit-theme .sc-button-view.capsule.sel.active,
.linkit-theme .sc-button-view.capsule.def.active {
	background: transparent static_url('images/sc-theme-repeat-x.png') no-repeat scroll right -464px;
}

.linkit-theme .sc-button-view.capsule.sel.active .sc-button-inner,
.linkit-theme .sc-button-view.capsule.def.active .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -437px;
}

/* 410 */
.linkit-theme .sc-button-view.capsule.sel.active .sc-button-label,
.linkit-theme .sc-button-view.capsule.def.active .sc-button-label {
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1266px;
	color:  white;
}

/* @end */

/* @group active */

.linkit-theme .sc-button-view.capsule.active {
	background: transparent static_url('images/sc-theme-repeat-x.png') no-repeat scroll right -384px;
}

.linkit-theme .sc-button-view.capsule.active .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -357px;
}

/* 330 */
.linkit-theme .sc-button-view.capsule.active .sc-button-label {
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -889px;
	color: white;
}

/* @end */

/* @group focus ring */

.linkit-theme .sc-button-view.focus {
  overflow: visible;
}

.linkit-theme .sc-button-view div.focus-ring {
  visibility: hidden;
}

.linkit-theme .sc-button-view.focus div.focus-ring {
  visibility: visible;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom:0px;
  position: absolute;
}
.linkit-theme .sc-button-view.focus div.focus-ring div {
  top: -3px;
  bottom: -3px;
  position: absolute;
}


.linkit-theme .sc-button-view.square.focus .focus-ring .focus-left,
.linkit-theme .sc-button-view.dropdown.focus .focus-ring .focus-left,
.linkit-theme .sc-button-view.popup.focus .focus-ring .focus-left {
  left: -2px;
  width: 10px;
  background: transparent  static_url('images/sc-theme-repeat-x.png') no-repeat 0px -1685px;
}

.linkit-theme .sc-button-view.square.focus .focus-ring .focus-right,
.linkit-theme .sc-button-view.dropdown.focus .focus-ring .focus-right,
.linkit-theme .sc-button-view.popup.focus .focus-ring .focus-right {
  right: -2px;
  width: 10px;
  background: transparent  static_url('images/sc-theme-repeat-x.png') no-repeat scroll right -1717px;
}

.linkit-theme .sc-button-view.square.focus .focus-ring .focus-middle,
.linkit-theme .sc-button-view.dropdown.focus .focus-ring .focus-middle,
.linkit-theme .sc-button-view.popup.focus .focus-ring .focus-middle {
  left: 7px;
  right: 7px;
  background: transparent  static_url('images/sc-theme-repeat-x.png') repeat-x 0px -1749px;
}




.linkit-theme .sc-button-view.capsule div.focus-ring .focus-left {
  left: -3px;
  width: 16px;
  background: transparent  static_url('images/sc-theme-repeat-x.png') no-repeat 0px -1783px;
}

.linkit-theme .sc-button-view.capsule div.focus-ring .focus-right {
  right: -3px;
  width: 16px;
  background: transparent static_url('images/sc-theme-repeat-x.png') no-repeat -16px -1815px;
}

.linkit-theme .sc-button-view.capsule div.focus-ring .focus-middle {
  left: 13px;
  right: 13px;
  background: transparent  static_url('images/sc-theme-repeat-x.png') repeat-x 0px -1847px;
}


/* @end */



/* @end */







/* @end */

